<div class="activity__Widget w-full font-[12px]">
  <div class="header flex flex-row justify-between">
    <h1 class="flex-1 mr-2 font-bold">Activity</h1>
    <div class="flex flex-row flex-end">
      <p class="mr-3">View Timeline</p>
      <p>Filter Activities</p>
    </div>
  </div>
  <div class="separator border-red border-[2px]"></div>
  <div class="content w-full">
    <div class="columns-1 w-full gap-2 mt-4 mb-4">
      <div class="relative "> 
        <input type="text" class="w-full h-12 rounded focus:outline-none px-3 focus:shadow-md" placeholder="Search..."> <i class="fa fa-search absolute right-3 top-4 text-gray-300"></i> 
      </div>
        <ul>
          <li *ngFor="let child of activity; let i = index" class="flex activity__Detail overflow-hidden justify-between items-center bg-white mt-2 hover:shadow-lg rounded cursor-pointer transition">
              <div class="flex ml-2 p-2"> 
                  <img src="https://i.imgur.com/aq{{i}}9RMA.jpg" width="75" height="50" class="rounded-full">
                  <div class="flex flex-col ml-3"> 
                    <span class="font-medium text-black"><span class="font-semibold">Jessica Koel</span> Commented</span> 
                    <span class="text-sm text-gray-600 truncate w-32">Hey, Joel, I here to help you out please tell me</span> 
                    <span class="text-gray-500">11:26</span>
                  </div>
              </div>
              <div class="flex flex-col items-center rounded p-6 activity__Action"> <span class="text-red-600">x</span> <i class="fa fa-star text-green-400"></i> </div>
          </li>
        </ul>
    </div>
  </div>
  <div class="separator"></div>
</div>
