<section id="content-section" class="p-6 px-8 grid grid-cols-16 gap-4">
  <div class="col-span-16 md:col-span-10">
    <div class="w-full mt-4 mb-2">
      <app-left-section [module]="videos"></app-left-section>
    </div>
    <div class="w-full mt-6 mb-2">
      <app-left-section [module]="people"></app-left-section>
    </div>
    <div class="w-full mt-6 mb-2">
      <app-left-section [module]="document"></app-left-section>
    </div>
  </div>
  <div class="col-span-16 md:col-span-6">
    <div class="w-full mt-4 mb-2"><app-activity></app-activity></div>
    <div class="w-full mt-6"><app-channel></app-channel></div>
  </div>
</section>
